<br>
<h1><strong>{{ article.titre }}</strong></h1>
<div><strong>{{ article.auteur }}</strong></div>
<div><strong>{{ article.date }}</strong></div>
<br>
<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et minima animi fugiat sed autem consequatur voluptates dolorum est veniam provident obcaecati reiciendis aspernatur voluptas, natus eligendi hic. Quod, numquam.</p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vitae sunt accusantium quibusdam eaque quae, numquam optio fugit eum odio ut neque iure sed minus pariatur, nesciunt ad doloremque incidunt?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et minima animi fugiat sed autem consequatur voluptates dolorum est veniam provident obcaecati reiciendis aspernatur voluptas, natus eligendi hic. Quod, numquam.</p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vitae sunt accusantium quibusdam eaque quae, numquam optio fugit eum odio ut neque iure sed minus pariatur, nesciunt ad doloremque incidunt?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et minima animi fugiat sed autem consequatur voluptates dolorum est veniam provident obcaecati reiciendis aspernatur voluptas, natus eligendi hic. Quod, numquam.</p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vitae sunt accusantium quibusdam eaque quae, numquam optio fugit eum odio ut neque iure sed minus pariatur, nesciunt ad doloremque incidunt?</p>
</div>