

 <div><img src="../images/imagedegarde.jpg" alt="image-de-garde" height="200px" width="100%"></div>
<br><br>     <div class="grid-1">
            {{#each article}}
                <article class="lesnouvlles couleurDeFond-1">
                    <a class= "article" href="/article/{{this.id}}">
                        <h2>{{this.titre}}</h2>
                        <div>{{this.auteur}}</div>
                        <div>{{this.date}}</div>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.At minima eum hic quo dignissimos dicta dolore eum hic quo dignissimos dicta dolore quo dignissimos dicta dolore voluptates odio illo, facilis mollitia ab. Labore fugiat aspernatur ea beatae doloremque facere accusamus.
                        </p>
                    </a>       
                </article>
            {{/each}}
            </div>
            <br>
            
                        