<h1>{{title}}</h1>

<br>
<br>
 <section class="container">
        {{#if alert }}
            {{#each alert }}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{this.msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/each}}
        {{/if}}

            <div class="contenue-form">
                <form action ='/contact' method ='post'>
                    <input type="text" name="nom" id="nom" placeholder="NOM" class="nom">
                    <input type="text" name="prenom" id="prenom" placeholder="PRÉNOM" class="prenom">
                    <div><input type="text" name="courriel" id="courriel" placeholder="COURRIEL" class="tele-courriel"></div>
                    <div><input type="tel" name="phone" placeholder="TÉLÉPHONE (000-000-0000)" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="tel" class="tele-courriel"></div>
                    <div>
                        <select name="service" class="listDePorjet">
                            <option>Sujet de la demande</option>
                            <option>Inscription</option>
                            <option>Demande de formation</option>
                        </select>
                    </div>
                   <div><textarea name="message" id="commentaire" cols="50" rows="10" placeholder="Votre message"></textarea></div>
                   <br/>
                    <div><input type="submit" value="Soumettre" id="button"></div>
                </form>
            </div>
    </section>