 <div class = "hauteur">
    <br>
    <h1>{{title}}</h1>
    <br>
    <h2>{{confirmation.nom}} {{confirmation.prenom}}</h2> 
    <div>{{confirmation.courriel}}</div>
    <div>{{confirmation.service}}</div>
    <div>{{confirmation.message}}</div>

</div>

 