body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #DCE1D3;
}
h1{
  color: #110066;
}
hr{
  border: 2px solid red;
}
span{
  display: inline-block;
  height: 80px;
  width: 80px;
}
a {
  text-decoration: none;
  font-size: 20px;
}
.btn{
  margin-left: 25%  !important;
  margin-bottom: 15px;
}
.nouscontacter{
  width: 45%;
}
.lignenouscontacter{
  width: 45%;
}
.contenue-form{
  margin : 29px 24px 120px 20px;
}
.nom{
  width: 395px;
}
.prenom{
  width: 500px;
  margin: 0 0 0 20px;
}
.tele-courriel{
  width: 656px;
}
input, textarea, select{
  background-color: #DCE1D3;
  margin : 30px;
  border: none;
  border-bottom:solid 1px;
  height: 66px;
  font-weight: medium;
  font-size: 24px;
  border-radius: 5px;
  color:  #034726;
  outline: none;
}

:placeholder-shown{
  padding: 10px;
}
textarea{
  width: 800px;
  height: 200px;
  border: solid 0.1rem;
  resize: none;
}
.monform{
  position: relative;
}

#button{
  position: absolute;
  width: 210px;
  background-color: #497e64;;
  color: rgb(17, 16, 16);
  border-radius: 5px;
  height: 70px;


}

/****************************************
* Page blog
*
*****************************************/
p{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  color: black;
  font-size: 14px;
  line-height : 2em;
  margin: 0;
  padding: 1rem;
}

.lesnouvlles{
  border-radius: 10px;
  padding: 15px;
}

.grid-1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row:  repeat(6, auto);
  gap: 25px 15px;
}
.couleurDeFond-1{
  background-color:#B3BFB8;
}
.couleurDeFond-1:nth-child(1n){
  background: rgb(127, 170, 89);
}
.couleurDeFond-1:nth-child(3n){
  background: rgb(122, 125, 209);
}
.couleurDeFond-1:nth-child(odd){
  background: rgb(204, 186, 85);
}

 .article{
 color: #0a0a0a;
 }
/********************************************************************
CSS Footer
**********************************************************************/

footer{
    background-color: #0a0a0a;
    margin-top: 30px;
    padding-top: 20px;
}
#titreFooter{
  color: #d5dad5;
  text-align: center;
  padding-bottom: 20px;
}

.hauteur{
  height: 600px;
}


