<div class = "hauteur">
    <h1>{{title}}</h1>
    <hr>
    <br><br>
      <h3> <strong>Nom de la formation : </strong> <em>{{formation.nom}} </em></h3>
      <div> <strong> Desciption : </strong> {{formation.desc}} </div>
      <div> <strong>La durée : </strong> {{formation.duree}}</div>
      <div> <strong>Le coût : </strong> {{formation.cout}}</div>
</div>
  

